<div class="container-fluid">

  <div class="container-fluid bg-light">
    <div class="text-center">
      <P class="lead">Git Hub search using API </P>
    </div>
    <div class="row">
      <div class="col-md-4 "id="profile" *ngIf = "user">
        <h3 id="name">{{user.name}}</h3>
        <img src="{{user.avatar_url}}" alt="github Profile image">
        <h6>{{user.bio}}</h6>
        <h6>Date joined:<b>{{user.created_at | date}}</b></h6>
        <h6> Repositories : <b>{{user.public_repos}}</b></h6>
        <h6> {{user.followers}} Followers</h6> 
        <h6> {{user.following}} Following</h6>
        <a href="{{user.html_url}}"><button class="btn btn-warning">view from Github</button></a>

      </div>

      <div class="col-md-8">
        <h3 class='text-center'>{{user.name}} Repositories</h3>
        <div class="col-md-12">
          <ul *ngFor="let userRepository of userRepositories" id="ul">
            <li class="list">
              <div class="card col-md-6" appHighlight>
                <div class="card-title text-center fw-bold">{{userRepository.name}}</div>
                <div class="card-body">{{userRepository.description}}
                    <br>
                    <small>License Info: {{userRepository.license.name}}</small>
                    <br>
                    <small> {{userRepository.clone_url}}</small>
                    <br>
                    <small><i class="fa-solid fa-code-fork"></i><b> {{userRepository.forks}}</b> </small> |
                    <small><i class="fa-solid fa-star"></i><b> {{userRepository.stargazers_count}} </b> </small>
                    
                </div>
                <div class="card-footer">
                  <i class="fa-solid fa-file-code"></i> {{userRepository.language}} | <a class = "d-flex justify-content-end"href="{{userRepository.git_url}}"><button class="btn btn-outline-dark">View</button></a>
                </div>
              </div>

            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>


</div>