<div class="container-fluid">

  <div class="container-fluid ">
    <div class="text-center">
      <P class="lead">Git Hub search using API </P>
    </div>
    <div class="row">
      <div class="col-md-4 text-center"id="profile" >
        <h3 id="name">{{user.name}}</h3>
        <img src="{{user.avatar_url}}" alt="Profile image">
        <h6>{{user.bio}}</h6>
        <h6> Date joined: <b>{{ user.created_at | date }}</b></h6>
        <h6> Repositories: <b>{{ user.public_repos }}</b></h6>
        <h6> Followers: {{ user.followers }}  </h6> 
        <h6> Following: {{ user.following }} </h6>
        <a href="{{user.html_url}}"><button class="btn btn-secondary" style="background-color:rgb(238, 164, 127); color: black;border-radius: 50%;">Go to Github</button></a>

      </div>

      <div class="col-md-8">
        <p> </p>
        <div class="col-md-6" >
          <h3 class='text-center'> Repositories</h3>
        </div>
        <div class="col-md-12">
          
          <ul *ngFor="let userRepository of userRepositories" id="ul">
            <li class="list">
              <div class="card col-md-6" appHighlight>
                <div class="card-title text-center fw-bold"> {{userRepository.name}} </div>


                <div class="card-body">
                  <div class="card-title">
                    {{userRepository.description}}
                  </div>
                  <div class="card-text">
                   
                  <small><i class="fa-solid fa-code-fork text-info"></i><b class="me-5 text-secondary" > {{userRepository.forks}}</b> </small> 
                  <small><i class="fa-solid fa-star text-info ms-5"></i><b class="me-5 text-secondary"> {{userRepository.stargazers_count}} </b> </small>
                  
                  </div>
                </div>
                <div class="card-footer">
                  <span> <b>Tools and Languages: </b>{{userRepository.language}} </span>  <a class = "d-flex justify-content-end"href="{{userRepository.html_url}}"><button class="btn btn-outline-info">View</button></a>
                </div>
              </div>

            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>


</div>