.form-group .sr-only {
  color: rgb(238, 164, 127);
}

.form-group input {
  border-radius: 20px;
  height: 8vh;
  
  outline: none;
  
  border-bottom: 1.5px solid  rgb(182, 91, 64);
}

#info{
  color:rgb(182, 91, 64);
  background-color: rgb(238, 164, 127);
  font-size: 25px;
  font-weight: bold;
  
}
#btnsearch {
  border: none;
  background-color: rgb(238, 164, 127);
  font-weight: bold;
  width: 10%;
}
.btn:hover {
  background-color: rgb(182, 91, 64);
} 
#gobtn{
  background-color: rgb(238, 164, 127);
}
h6{
  color:rgb(182, 91, 64);
  background-color: aquamarine;
}