<nav class="navbar navbar-light bg-light">
  <form action="" class="container-fluid" role="form" #githubsearchform="ngForm" (ngSubmit)="getGithubUserData()">
    <div class="input-group">
      <span class="input-group-text" id="basic-addon1">@</span>
      <input id ="search" type="text" class="form-control" [(ngModel)]="searchingName" name="searchingName" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
      <button type="submit" class="btn btn-outline-danger d-block mx-auto">Search</button>
    </div>
  </form>
</nav>

